$Black     = #21111c
$Facebook  = #4d6ab0
$Purpura   = #21111c
$Rosa      = #f04883
$Twitter   = #5ba8df



//Fonts
$FontStack = 'Open Sans', sans-serif
$Icons     = 'Glyphicons Halflings'

//Font weights
$Bold      = 700
$Bolder    = 800
$Light     = 300
$Normal    = 400


//Site grid spacing and width
$Gutter    = 0.5rem
$SiteWidth = 128rem