.btn
	background-color $Azul
	color #fff
	display block
	font-size 1.8rem
	margin 1rem auto 0
	padding 1rem 
	text-transform uppercase
	transitionBase(0.3s)
	
	&:active, &:focus
		transform scale(0.95)
		

	&:hover
		background-color lighten($Azul, 30%)
		color #fff
		
	&-cambio
		text-transform initial
		max-width 23rem
		
	&-conoce
		background-color #fff
		border 2px solid $Peach
		color darken($Azul, 40%)
		font-size 1.9rem
		font-weight $Bold
		margin-top 2rem
		max-width 23rem

	&-submit
		margin-top 2rem
		width 100%