a.center-block
	text-align center

h2
	color #fff
	font-size 2.9rem
	font-weight $Normal
	margin-left 18%
	text-align left
	
	strong
		display block
		font-weight $Normal
		line-height 3rem

.copy-ppal
	path("twitter.png")
	background-repeat no-repeat
	padding-left 8rem
	color #fff
	font-size 6rem
	text-align left
	margin-left 18%
	margin-top 3rem
	


.motion
	position absolute
	top 8rem
	left -27%
	height auto
	transitionBase(0.3s)
	width 92%


.pasos
	color #fff
	display block
	padding 0 
	margin 28rem auto 0
	width 100%
	
	li
		display inline-block
		font-size 1.5rem
		text-align center
		vertical-align top
		width 30%
		
		span
			path("pasos.png")
			background-repeat no-repeat
			display block
			margin 0 auto
			cuadrado(13.6rem)
			text-align center
			vertical-align top
		
		// &:nth-child(1)
		&:nth-child(2)
			span
				background-position 50% 0
		&:nth-child(3)
			span
				background-position 100% 0
		
		strong
			display block
			font-size 1.8rem
			line-height 1.8rem
		
	
