header
	margin-bottom 2rem
	padding 1rem

	.menu-legales
		list-style-type none
		padding 0
		margin 1.5rem auto !important
		
		li
			display inline-block
			margin-left 1rem
			margin-right @margin-left
			
			a
				color darken($Gris, 40%)
				font-size 1.9rem
				text-transform uppercase
				

	.row
		path("ul.jpg")
		background-position center right
		background-repeat no-repeat