//Header
header.container-fluid
	section.row
		article.col-lg-1.col-md-1.col-sm-1.col-xs-2.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
			img.img-responsive.logo(src="images/logo-rexona.jpg", alt="Rexona", title="Rexona")

		article.col-lg-9.col-md-9.col-sm-9.col-xs-9.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
			ul.menu-legales
				li
					a(href="http://rexona.com.co/jugadorrexona") #JugadorRexona
				li
					a(href="#") Fútbol Total

///-Header