//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	- var titulo = 'Galeria';
	title #AEROBICSCHALLENGE - Rexona


//-Etiqueta Metadescription
block description
	meta(name="description", content="#AEROBICSCHALLENGE Rexona" )

block content
	section.container-fluid
		div.header.header-galeria

			div.row
				div.col-lg-10.col-md-10.col-sm-10.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
					h1 ¡mira cómo se mueven las personas para  brindar su apoyo!
					
					a.btn.btn-buscar(href="#buscar" role="button")
						span.glyphicon.glyphicon-search

						|  Buscar

					form#buscar-input(method="")
						input(type="text")

					a.btn.btn-grid(href="#" role="button")
						span.glyphicon.glyphicon-th

						|  Reorganizar
					
					div.table-responsive.table-select
						table.table
							-for(x = 0; x <8; x++)
								tr
									-for(y = 0; y <8; y++)
										td(data-grid="0")

		//- div.row

	section.container-fluid.container-video
		div.video-grid
			
			-for(x = 0; x < 16; x++ )
				div.container-video
					button.btn.btn-play.glyphicon.glyphicon-play-circle(type="button")

					video(id=x name="media" poster="https://scontent.cdninstagram.com/t51.2885-15/e15/14591022_1664652750511486_2198000044018237440_n.jpg?ig_cache_key=MTM1ODI1NzA5MTc1MjQ3NzY3MA%3D%3D.2").

						<source src="https://scontent.cdninstagram.com/t50.2886-16/14641650_1778570135732204_941941707321114624_n.mp4" type="video/mp4"></video>

	
block Scripts
	script(src="js/challenge-rexona.video.js")

