//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	- var titulo = 'Home';
	title #RETOAMOVERSE - Rexona


//-Etiqueta Metadescription
block description
	meta(name="description", content="#RETOAMOVERSE Rexona" )

block content
	section.container-fluid
		div.header.header-home
			div.text-slice
				h1
					span.slice.slice-l
						span
							| haz parte del
							strong #retoamoverse
							| ¡ayuda con movimiento!
					
					span.slice.slice-r
						span
							| haz parte del
							strong #retoamoverse
							| ¡ayuda con movimiento!

				h2.text-center entre más te mueves, más ayudas


		div.row.row-pasos
			//Grabar video
			div.col-lg-2.col-md-2.col-sm-2.col-xs-6.col-lg-offset-2.col-md-offset-2.col-sm-offset-2
				div.paso
					include ../../publication/images/grabar-video.svg

				p
					| Crea un video haciendo 10 aeróbicos y súbelo a tus redes sociales usando 
					strong #RetoASaltar

			///-Grabar video
			//Compartir
			div.col-lg-2.col-md-2.col-sm-2.col-xs-6
				div.paso
					include ../../publication/images/compartir.svg

				p Reta a tus amigos a hacer lo mismo

			///-Compartir

			//Listo
			div.col-lg-2.col-md-2.col-sm-2.col-xs-6
				div.paso
					include ../../publication/images/smile.svg

				p
					| Apoya a la 
					strong Fundación Tiempo de Juego
					|  que promueve el deporte para niños

			///-Listo			
			
			
			//Elegir
			div.col-lg-2.col-md-2.col-sm-2.col-xs-6
				div.paso
					include ../../publication/images/check.svg

				p Escoge el artículo que quieras donar y envíalo a la Calle 45 N° 8-31 Este, Barrio Las Quintas, Comuna 4 (Soacha)


			///-Elegir

		

	section.container-fluid.container-sedentarismo

		article.row
			div.col-lg-10.col-md-10.col-sm-10.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
				p.
					El <span>sedentarismo</span> es un problema que afecta al mundo entero y Colombia es el país más sedentario de todos. De hecho <mark>60% de las personas</mark> <span>no incluyen ningún tipo actividad física en su rutina diaria. </span>
				p.
					Por eso, Rexona ha decidido retar a las personas para que se muevan, vivan más y hagan que otros se muevan. Con el <mark>#AerobicsChallenge</mark> vamos a llevar donaciones a los niños de la <em>Fundación Tiempo de Juego</em>. 

	
	section.container-fluid.container-contador
		h2.text-center Contador de donaciones

		div.row
			
			div.col-lg-10.col-lg-offset-1
				div.donaciones
					//- input#get-donaciones(type="range", step="1" min="0" value="30")

					div.range
						p.text
							span.numero 25
							| unidades
						div.bar
							div.fill
		
						span 0
			div.clearfix

			article.col-lg-8.col-md-8.col-sm-8.col-xs-12.col-productos
				h3.text-center Elige tu donación

				
				div.col-lg-4.col-md-4.col-sm-4.col-xs-4

					a(href="http://www.exito.com/products/0000259593223423/Balon+Baloncesto+Caucho+%23+5?nocity" target="_blank"): +image('productos/1.jpg', 'exito.com')(class="img-responsive")


				div.col-lg-4.col-md-4.col-sm-4.col-xs-4

					a(href="http://www.exito.com/products/0001856805438710/Balon+Voleibol++5+Cellular+Hyp?nocity" target="_blank"): +image('productos/2.jpg', 'exito.com')(class="img-responsive")



				div.col-lg-4.col-md-4.col-sm-4.col-xs-4

					a(href="http://www.exito.com/products/0002316295616773/Guantes+De+Portero+Alcion?nocity" target="_blank"): +image('productos/3.jpg', 'exito.com')(class="img-responsive")


				div.col-lg-4.col-md-4.col-sm-4.col-xs-4

					a(href="http://www.exito.com/products/0001461976254306/Termo+Polar+Oso+Verde+24+Onz?nocity" target="_blank"): +image('productos/4.jpg', 'exito.com')(class="img-responsive")


				div.col-lg-4.col-md-4.col-sm-4.col-xs-4

					a(href="http://www.exito.com/products/0002321928619419/Morral+Zissua+Negro+Ref.005sce+Naz?nocity" target="_blank"): +image('productos/5.jpg', 'exito.com')(class="img-responsive")


				div.col-lg-4.col-md-4.col-sm-4.col-xs-4

					a(href="http://www.exito.com/products/0002321926619418/Morral+Zissua+Indie+Morado+Ref.005sce+Mor?nocity" target="_blank"): +image('productos/6.jpg', 'exito.com')(class="img-responsive")


				div.col-lg-4.col-md-4.col-sm-4.col-xs-4

					a(href="http://www.exito.com/products/0001371883180544/Espinillera+Pro+En+Blister?nocity" target="_blank"): +image('productos/7.jpg', 'exito.com')(class="img-responsive")


				div.col-lg-4.col-md-4.col-sm-4.col-xs-4

					a(href="http://www.exito.com/products/0000927301102042/Colchoneta+Deportiva?nocity" target="_blank"): +image('productos/8.jpg', 'exito.com')(class="img-responsive")


				div.col-lg-4.col-md-4.col-sm-4.col-xs-4

					a(href="http://www.exito.com/products/0002203412575588/Bola+De+Tenis+Championship+ed?nocity" target="_blank"): +image('productos/9.jpg', 'exito.com')(class="img-responsive")


				div.col-lg-4.col-md-4.col-sm-4.col-xs-4

					a(href="http://www.exito.com/products/0000510795782271/Linea+Lycra+Alg.+T+Capri+F+E?nocity" target="_blank"): +image('productos/10.jpg', 'exito.com')(class="img-responsive")

				div.col-lg-4.col-md-4.col-sm-4.col-xs-4

					a(href="http://www.exito.com/products/0002267115601120/Tenis+Blancos+Con+Cordonespara?nocity" target="_blank"): +image('productos/11.jpg', 'exito.com')(class="img-responsive")



			aside.col-lg-4.col-md-4.col-sm-4.hidden-xs
				div.tweets
					h3
						+image('twitter.svg')
						span.cantidad 9999999
						| #retoamoverse
						span en Twitter:

				div.feed.
					<a class="twitter-timeline" href="https://twitter.com/hashtag/JugadorRexona" data-widget-id="731228001275396096">#JugadorRexona Tweets</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		

	
block Scripts
	//-Acá se ponen js que solo vayan en ésta página

