//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	- var titulo = 'Home';
	title #AEROBICSCHALLENGE - Rexona


//-Etiqueta Metadescription
block description
	meta(name="description", content="#AEROBICSCHALLENGE Rexona" )

block content
	section.container-fluid
		div.home-header

			h1.text-slice
				| haz parte del
				strong #aerobicschallenge
				| ¡ayuda con movimiento!

		div.row.row-pasos
			//Moverse
			div.col-lg-2.col-md-2.col-sm-2.col-xs-12
				div.paso
					include ../../publication/images/mover.svg

				p Decídete a moverte más por una buena causa

			///-Moverse
			
			//Grabar video
			div.col-lg-2.col-md-2.col-sm-2.col-xs-12
				div.paso
					include ../../publication/images/grabar-video.svg

				p Graba un video donde hagas 6 aeróbicos
			///-Grabar video
			
			//Compartir
			div.col-lg-2.col-md-2.col-sm-2.col-xs-12
				div.paso
					include ../../publication/images/compartir.svg

				p Comparte tu video en redes sociales y reta a 3 amigos

			///-Compartir
			
			//Elegir
			div.col-lg-2.col-md-2.col-sm-2.col-xs-12
				div.paso
					include ../../publication/images/check.svg

				p Elige qué quieres donar

			///-Elegir

			//Ingresar
			div.col-lg-2.col-md-2.col-sm-2.col-xs-12

				div.paso
					include ../../publication/images/cursor.svg

				p: a(href="#", target="_blank") Ingresa aquí

			///-Ingresar

			//Listo
			div.col-lg-2.col-md-2.col-sm-2.col-xs-12
				div.paso
					include ../../publication/images/smile.svg

				p ¡Y listo! Habrás hecho tu aporte. 
			///-Listo
		

	section.container-fluid.container-sedentarismo

		article.row
			div.col-lg-10.col-md-10.col-sm-10.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
				p.
					El sedentarismo es un problema que afecta al mundo entero y Colombia es el país más sedentario de todos. De hecho 60% de las personas no incluyen ningún tipo actividad física en su rutina diaria. 
				p.
					Por eso, Rexona ha decidido retar a las personas para que se muevan, vivan más y hagan que otros se muevan. Con el #AerobicsChallenge vamos a llevar donaciones a los niños de la Fundación Tiempo de Juego. 

	
	section.container-fluid.container-contador
		h2.text-center Contador de donaciones

		div.row
			
			div.col-lg-10.col-lg-offset-1
				div.donaciones
					input#get-donaciones(type="range", step="1" min="0" value="25")

					div.range
						p.text 25 unidades
						div.bar
							div.fill
		
			div.clearfix

			article.col-lg-8.col-md-8.col-sm-8.col-xs-12
				h3.text-center Elige tu donación

				iframe(src="", frameborder="0")

			aside.col-lg-4.col-md-4.col-sm-8.hidden-xs
				div.tweets
					h3
						+image('twitter.svg')
						span.cantidad 9999999
						| #AerobicsChallenge
						span en Twitter:

				div.feed.
					<a class="twitter-timeline" href="https://twitter.com/hashtag/JugadorRexona" data-widget-id="731228001275396096">#JugadorRexona Tweets</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		

	
block Scripts
	//-Acá se ponen js que solo vayan en ésta página

