.btn
	border 1px solid $Verde
	background-color $Azul
	color #fff
	display block
	font-size 1.8rem
	margin 1rem auto 0
	padding 1rem 
	text-transform uppercase
	transitionBase(0.3s)
	
	&:active, &:focus
		transform scale(0.95)
		

	&:hover
		background-color lighten($Azul, 30%)
		color #fff
		
	&-terminos
		margin 5rem auto
		max-width 50rem
		

	&-switch
		display inline-block
		vertical-align middle