.banner-home
	path('bg-header.jpg')
	background-position top center
	background-repeat no-repeat
	

.descripcion-sitio
	background-color rgba($Azul, 0.9)
	border 1px solid $Verde
	color #fff
	font-family $Rexona
	font-size 2rem
	position relative
	text-transform uppercase
	
	&:after
		background-color #000
		border-radius 100%
		bottom -0.7rem
		box-shadow 0px 0px 10px 0px #000
		content ''
		display block
		height 0.5rem
		left 0
		opacity 0.4
		position absolute
		width 100%
		z-index -1


.tit
	box-shadow 0px 0px 20px 10px rgba($Azul, 0.5)
	color #fff
	font-size 4rem
	text-transform uppercase