.azul
	&-text
		color $Azul
		

.col
	&-menu
		padding 2rem 0.5rem 0
		position relative


.row
	margin 0 auto
	max-width 124rem
	position relative
	

	for x in (1..12)
	
		.col-lg-{x}, .col-md-{x}, .col-sm-{x}, .col-xs-{x}
			padding-left 5px
			padding-right @padding-left
			transition width -0.1s 0.3s ease-in-out, height -0.2s 0.4s ease-in-out, padding-left 0.3s ease, padding-right 0.3s ease