@media (max-width: 1230px)
	.tit
		font-size 3.5rem
		margin-bottom 5rem
		
		&-home
			margin-top 13rem
			

@media (max-width: 1160px)

	.descripcion-sitio
		font-size 1.5rem
		

	.descripcion
		padding-top 1rem
		

	.dir
		a
			margin 25% auto
			
			&:after
				height 4.5rem
				right -1.3rem
				width 3.5rem
		
	.logo-home
		max-width 40rem
		

	.logo
		max-width 25rem
		
	.tit
		font-size 2.9rem
		

	.selector-galerias
		a
			margin 16% auto
			font-size 1.8rem
		
		.galeria
			background-size 52%

		.tribuna
			background-size 72%
			

@media (max-width: 1050px)
	.descripcion-sitio
		font-size 1.4rem
	.dir
		a
			font-size 2rem
			max-width 15.4rem
			
	.logo
		margin 0 auto 
		max-width 24rem 
		position relative
			
@media (max-width: 930px)
	.logo-home
		max-width 37rem
		

@media (max-width: 880px)
	.galeria
		figure
			a
				font-size 4rem

	.logo-home
		max-width 34rem
	
	.tit
		&-home
			margin-top 8rem


@media (max-width: 860px)
	.logo-home
		max-width 30rem
		
	.logo
		
		max-width 22rem
	.tit
		font-size 2.5rem
		

@media (min-width: 768px)
	.navbar-collapse.collapse
		display inline-block !important

@media (max-width: 767px)

	header
		z-index 4
		#menu
			background-color #f3f4f4
			bottom 0
			height 23.7rem
			left -23%
			position absolute
			right 0
			top 143%
			width 125.5%
			z-index 10
			

		.collapse.in
			display block !important
			
		.menu
		
			&-ppal, &-content
				li 
					a 
						font-size 1.6rem
						
			&-content
				display block 
				li
					display block
					border-bottom 1px solid darken( #f3f4f4, 40%)
					
					&:last-child
						border-bottom none
					a
						display block
						font-size 1.2rem
						padding 0.8rem 1rem
					
						
		.navbar-collapse.collapse
			display none
				
		.navbar-header
			display inline-block 
							
	.dir
		a
			font-size 3rem
			max-width 25.4rem
			

	
	.table 
		font-size 1.5rem
		
		.lugar
			font-size 1.5rem
	.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th
		white-space normal
		vertical-align middle
			

@media (max-width: 720px)
	.logo-home
		max-width 25rem
	.tit
		font-size 2rem
		
		&-home
			margin-top 4rem
			
@media (max-width: 600px)

	header
		#menu
			top 136%

	.banner-home, .banner-interna
		background-size cover
		.col-xs-6
			width 100%
			
		.logo
			position relative
			
	.dir
		a
			font-size 1.8rem
			max-width 15.4rem
			
			&:after
				height 3.5rem
				width 2.5rem
	.galeria
		figure
			a
				font-size 3rem


	.selector-galerias
		a
			font-size 1.5rem
			max-width 17.7rem
			
	.jugadores, .posiciones
		.table
			font-size 1.2rem
			&>tbody>tr>td, &>tbody>tr>th, &>tfoot>tr>td, &>tfoot>tr>th, &>thead>tr>td, &>thead>tr>th
				padding 0.2rem

	.tit
		margin-top 0rem
		&-home
			margin-bottom 1rem
			margin-top 0rem

@media (max-width: 400px)
	
	header
		#menu
			top 125%

	.dir
		a
			font-size 1.5rem
			max-width 13.4rem
			
			&:after
				height 2.5rem
				width 1.5rem
				
	.galeria
		figure
			a
				font-size 1.8rem
				
	.selector-galerias
		a
			font-size 1.3rem
			max-width 15rem
