@media (max-width: 1220px)
	.pasos
		li
			font-size 1.3rem
			
			strong
				font-size 1.8rem


@media (max-width: 1160px)
	
	h2
		font-size 2.5rem
		margin-top 0rem
	header
		margin-bottom 0
		

	.copy-ppal
		background-size 5.8rem
		padding-left 6rem
		font-size 4.8rem
		

	.pasos
		li
			font-size 1.3rem
			
			span
				background-size 300%
				cuadrado(12rem)
			strong
				font-size 1.5rem



@media (max-width: 1160px)
	#registro
		margin-bottom 3rem
	.pasos
		margin-top 27rem
		li
			font-size 1.2rem
			
			span
				background-size 300%
				cuadrado(8rem)
				padding-top 8rem
			strong
				font-size 1.5rem
				
@media (max-width: 940px)
	h2
		font-size 2rem
		
	.pasos
		margin-top 23rem
		
@media (max-width: 768px)

	h2, .copy-ppal
		margin-left 0
		padding-left 0
		text-align center
		

	#registro
		margin-bottom 36rem
		
	.btn-conoce
		margin-bottom 10rem
		
	// .motion
	// 	bottom 0
	// 	left 30%
	// 	top initial
	// 	width 30%
		
	.pasos
		margin-top 3rem
	

@media (max-width: 620px)

	#registro
		margin-bottom 52%
		
	.btn-conoce
		margin-bottom 7rem

	
	h2
		font-size 1.7rem
		line-height 1.6rem

	header
		.menu-legales
			li
				a
					font-size 1.5rem
	

	.copy-ppal
		font-size 4rem
		
@media (max-width: 500px)
	.copy-ppal
		background-position center left
		background-size 4rem
		font-size 3.5rem
		

	.pasos
		li
			font-size 1rem
			width 32%

			strong
				font-size 1.3rem
	
@media (max-width: 440px)
	header
		.menu-legales
			li
				a
					font-size 1.2rem
					

	// .motion
	// 	left 25%
	// 	width 50%

@media (max-width: 420px)

	h2
		font-size 1.5rem
		line-height 1.4rem

	.copy-ppal
		font-size 3rem
		
	.pasos
		width 80%
		li
			display block
			font-size 1.3rem
			margin-bottom 2rem
			margin-top @margin-bottom
			width 100%

			strong
				font-size 1.6rem
				
@media (max-width: 390px)
	header
		.menu-legales
			margin 0.5rem auto !important
			li
				display block
				a
					font-size 1.2rem
					
	.copy-ppal
		background-size 2.5rem
	
@media (max-width: 360px)
	.copy-ppal
		background-size 2rem
		padding-left 3rem


@media (max-width: 320px)
	.copy-ppal
		background none
		padding 0