.grupos
	
	.table 
		path('camiseta.png')


.table
	background-color #3e4555
	color #fff
	font-size 2rem
	text-align center
	text-transform uppercase
	position relative
	
	&:after
		background-color #000
		border-radius 100%
		bottom -1.7rem
		box-shadow 0px 0px 10px 0px #000
		content ''
		display block
		height 0.7rem
		left 0
		opacity 0.4
		position absolute
		width 100%
		z-index 0
	
	span
		color $Verde
		
	&>tbody>tr>td, &>tbody>tr>th, &>tfoot>tr>td, &>tfoot>tr>th, &>thead>tr>td, &>thead>tr>th
		border 0
		
	&>tbody tr:nth-child(1)	
		td, th
			padding-top 4rem
	
	&>tbody tr:nth-child(even)	
		background-color rgba( #222732 , 0.8)
		
	.lugar
		color $Verde
		font-size 1.7rem

	&-responsive
		position relative
		margin-bottom 4rem
		

.titulo-tabla
	background-color $Azul
	border 2px solid $Verde
	color #fff
	margin 0 auto -2rem
	max-width 25rem
	padding 0.5rem
	position relative
	text-align center
	text-transform uppercase
	z-index 3
	

.jugadores
	.table 
		&>tbody tr:nth-child(1)	
			td, th
				padding-top 8px !important
				
		th
			background-color rgba( #222732 , 0.8)
			color $Verde
			text-align center
			
		tr:nth-child(2)
			background-color #1c4151
			
		&>tbody>tr>td, &>tbody>tr>th, &>tfoot>tr>td, &>tfoot>tr>th, &>thead>tr>td, &>thead>tr>th
			padding 1.2rem
			

.posiciones
	.table
		tr:nth-child(2)
			background-color #1c4151
			
		&>tbody>tr>td, &>tbody>tr>th, &>tfoot>tr>td, &>tfoot>tr>th, &>thead>tr>td, &>thead>tr>th
			padding 1.2rem
			
		&>tbody tr:nth-child(1)	
			td, th
				padding-top 4rem
				
			th
				background-color rgba( #222732 , 0.8)
