//Footer
footer.container-fluid
	//Redes sociales
	section.row
		article.col-lg-4.col-md-6.col-sm-4.col-xs-12.col-lg-offset-4.col-md-offset-3.col-sm-offset-4
			ul.redes-sociales
				li
					a.icon.icon-fb(href="https://www.facebook.com/RexonaMDA/?fref=ts", rel="nofollow", target="_blank") Facebook
				li
					a.icon.icon-yt(href="https://www.youtube.com/channel/UCcjkzAcwGT-oECUt4XpJvSw", rel="nofollow", target="_blank") Twitter
				li
					a.icon.icon-g(href="https://plus.google.com/u/0/103513935703333267681/about", rel="nofollow", target="_blank") Google+
				li
					a.icon.icon-tw(href="https://twitter.com/RexonaMDA", rel="nofollow", target="_blank") Twitter

		div.clearfix
			
		article.col-lg-4.col-md-6.col-sm-4.col-xs-12.col-lg-offset-4.col-md-offset-3.col-sm-offset-4.text-center
			ul.links-legales
				li
					a(href="#") Aviso legal
				li
					a(href="#") Política de privacidad
				li
					a(href="#") Política de Cookies


	///-Redes sociales
	//legal
	section.row
		article.col-lg-10-col-md-10.col-sm-10.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-1

			p.text-center.
				&copy; 2016 Univeler

			p.text-center.
				Este sitio web está dirigido a los consumidores de la República de Colombia, Costa Rica, El Salvador, Guatemala, Honduras, Panamá, Nicaragua, Ecuador y Venezuela. Este sitio web no está dirigido a consumidores de otros países.

			p.text-center.
				* Testeo in vitro realizado con S. epidermidis
				** Antibacterial. vs sin aplicación de producto antitranspirante. Testeo in vitro realizado con S. epidermidis. Producto cosmético sin acción terapéutica.  
				*** Máxima protección de Rexona disponible en el mercado
		
	///-legal

///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if debug == true
	script(src='js/libs/jquery.js')
	script(src='js/libs/bootstrap.min.js')
	script(src='js/libs/velocity.min.js')
	script(src='js/challenge-rexona.ini.js')

else
	script(src="js/libs.min.js")
	script(src='js/challenge-rexona.ini.js')