header.container-fluid

	div.row
		div.col-lg-3
			div.logo
				+image('logo-rexona.jpg', 'Rexona')


		div.col-lg-4.col-lg-offset-4

			nav.menu
				ul
					li
						a(href="galeria.html") ¡Ellos ya se movieron!

					li
						a(href="/terminos") T&amp;C


					li
						+image('ul.jpg', 'Unilever')(class="img-responsive")