.page-magnum-pink-black
	h1.text-center
		margin 6rem auto 5rem
		max-width 69rem
		text-shadow 0px 0px 5px rgba(0, 0, 0, 0.50)
		

	.side
		position relative
		text-align center
		
		h2
			font-size 4rem
			margin 1rem auto
			max-width 31rem
		
		&-black
			h2
				color $Black

		&-pink
			h2
				color $Rosa
				
	.status-black, .status-pink
		position relative
		

	.text-white
		text-shadow none !important 
		color white !important