::selection /* WebKit/Blink Browsers */
	background $Azul
	color #fff 

::-moz-selection /* Gecko Browsers */
	background $Azul
	color #fff
	

::-webkit-file-upload-button
	cursor pointer

a
	color $Azul
	transitionBase(0.3s)
	
	&:hover
		color lighten($Azul, 40%)
		text-decoration underline
		
	img
		border 0 !important


body
	background-color $Morado
	color $Gris
	font-family $FontStack
	font-size 1.4rem
	font-weight $Normal 


footer
	background-color #fff
	

h2, h3
	color $Verde
	text-transform uppercase
	
mark
	background-color $Verde
	color $Morado
	padding 0

strong
	color $Verde
	font-weight $Bold