#search-user
	background-color #fff
	display none
	opacity 0
	transitionBase(0.3s)
	padding 2rem 1rem
	box-shadow 0px 0px 5px 0px rgba(0, 0, 0, .75)
	label
		color $Cyan
		font-size 2.5rem
		margin 0 	
		text-shadow 0px 0px 5px rgba(#000, 0.75)
		
	input
		background none
		border 0
		border-bottom 2px solid $Cyan
		color $Azul
		font-size 2.5rem
		transitionBase(0.3s)
		
		&:focus
			border-color $Morado
			outline none !important
			outline 0 !important
			

		&::-webkit-input-placeholder
			color $Azul
		&:-moz-placeholder
			color $Azul
		&::-moz-placeholder
			color $Azul
		&:-ms-input-placeholder
			color $Azul

//Selector del grid
#select-grid
	appearance none !important
	background-color $Azul
	display block
	height 0.2rem
	margin 1.1rem auto
	
	
	&::-moz-range-track
		appearance none !important

	&::-ms-track
		appearance none !important

	&::-webkit-slider-thumb
		appearance none !important
		
	&::-moz-range-thumb
		appearance none !important
		
	&::-ms-thumb
		appearance none !important

	&::-moz-range-thumb
		appearance none
		background $Verde
		border-radius 100%
		cursor pointer
		color #000
		height 2rem
		width @height
		cursor pointer
		
	&::-webkit-slider-thumb
		appearance none
		background $Verde
		border-radius 100%
		box-shadow 0px 0px 5px 0px rgba(0, 0, 0, .75)
		cursor pointer
		color #000
		height 2rem
		width @height
		cursor pointer
	&:active, &:hover, &:focus
		outline 0 !important
				
	&:active::-moz-range-track
		appearance none
		background $Verde
		border-radius 100%
		box-shadow 0px 0px 5px 0px rgba(0, 0, 0, .75)
		cursor pointer
		color #000
		height 2rem
		width @height
		cursor pointer
