@media (min-width 310px)
	.page-pink-black
		h1.text-home, h1.text-section
			font-size 1.2rem
			max-width 80%
			position initial
			transform none
			
			span
				font-size 1.9rem
		h1.text-section
			text-align left
			margin 0
			margin-bottom 3rem
			
		.btn 
			&-ver-black, &-ver-pink
				font-size 1.2rem
				svg
					display block
					margin auto
		
		.col-xs-offset-1
			margin-left 0
				
		.col-compartir
			margin-top 0
			text-align center
			
			p
				display block
				font-size 1.4rem
				text-align center
			
			.btn
				display inline-block
				cuadrado(3rem)
				margin 0 0.5rem
				padding 0.3rem
	
				span 
					display none	
				
				svg
					display block
					height 100%
					// height auto
					margin auto
					max-width 100%
					position initial
					
					path
						fill #fff
						stroke 0
						
				&-fb
					svg
						max-width 50%
						

			.loader
				width 100%

		.menu-dummie
			height 12.2rem
			
		.helado
			max-width 100%
			
			#pink-home
				max-width 92%
			
			.img-responsive
				width 6.8rem
				

				
		.row-btn
			.btn
				display block
				font-size 1.4rem
				max-width 100%
				width 100%
				
				svg
					display inline-block
					margin-left -1rem
					margin-right 0.4rem
					cuadrado(4rem)
					
				
	.page
		&-black, &-pink
			.helado
				bottom initial
				top -3rem
				right -1rem
				width 8rem
				z-index 11

@media (min-width 400px)
	.page-pink-black
		h1.text-home, h1.text-section
			font-size 1.6rem
			max-width 30rem
			
			span
				font-size 2.6rem
			
		.col-compartir
			margin-top 1.6rem
			
			.btn
				cuadrado(3.5rem)
				&-fb
					margin-left 0.4rem

					
		.helado
			.img-responsive
				width 10rem

@media (min-width 440px)
	.page-pink-black			
		.btn 
			&-ver-black, &-ver-pink
				svg
					display initial
					
		.col-compartir
			margin-top 1.6rem
			
			.btn
				cuadrado(4.2rem)
				&-fb
					margin-left 0.8rem
			
		.row-btn
			.btn				
				svg
					display inline-block
					margin-left -2.5rem
					margin-right abs(@margin-left)
					cuadrado(5rem)
							

		.helado
			#pink-home
				display block
				margin auto
				max-width 93.1%
					
@media (min-width 600px)
	.page-pink-black				
		.btn 
			&-ver-black, &-ver-pink
				svg
					display inline-block
					margin-left -3rem	
					margin-right abs(@margin-left)	

		.col-compartir
			margin-top 1.6rem
			text-align center
			
			p
				font-size 1.6rem
			
			.btn
				cuadrado(5.2rem)
				&-fb
					margin-left 1.8rem
				

		.col-xs-offset-1
			margin-left 2%
		
		.helado
			.img-responsive
				width 16rem
				
		.loader
			width 94%
				
	.page
		&-black, &-pink
			.helado
				width 11rem
				

@media (min-width 700px)

	.page
		&-black, &-pink
			.helado
				top -7rem
				width 16rem
				
			.menu-dummie
				
				& + .row
					margin-top 6.4rem
					padding-bottom 0 !important
				
	.page-pink-black
		.col-compartir
			.btn-wapp
				display none
		
		.loader
			width 81%

		.menu-dummie
			height 10.3rem
			
			& + .row
				margin-top 6.4rem
				padding-bottom 3.3%
			
		.row-btn
			.btn
				display inline-block
				max-width 49.5%
				width 49.5%
				

	

@media (min-width 800px)
	.page-pink-black		
		.col-xs-offset-1
			margin-left 1%

		.col-compartir
			position absolute
			bottom 0
			left 53%
			text-align left
			
			p
				text-align left
				font-size 1.4rem
			
			.btn
				cuadrado(3rem)
				
				&-fb
					margin-left 0.5rem
					
		.loader
			width 100%
		.menu-dummie
			height 12rem

		.row-btn
			.col-sm-12
				width 100%
		
			
	.page
		&-black, &-pink
			h1.text-section
				left 53%
				position absolute
				
			.col-sm-12
				margin-left 0
				width 48%
				
			.helado
				bottom initial
				top -6.9rem
				width 11rem
				
		
	
@media (min-width 910px)
	.page
		&-black, &-pink
			h1.text-section
				left 50%
			.helado
				width 15rem
				
					

	.page-pink-black			

		.col-compartir
			position absolute 
			left 50% 
			bottom 0 
			text-align left
			
			p
				max-width 30rem
			.btn
				font-size 1.6rem
				height auto
				margin 1rem 0 0
				max-width 31rem
				width auto
				&-fb, &-tw
					display block
					padding 2rem 1rem
					position relative
					span
						display block 
					svg
						left 1.6rem
						height 66%
						position absolute
						top 0.7rem
						
				&-tw
					svg
						left 0.8rem
						top 1.2rem
						
		


@media (min-width 1010px)
	.page-pink-black

		h1.text-home
			font-size 2.1rem
			max-width 28rem
			position absolute
			transform translate3d(-50%, 0, 0)
			
			span
				font-size 2.6rem
				
		.loader
			width 100%
		

@media (min-width 1100px)
	.page-pink-black

		h1.text-home, h1.text-section
			font-size 2.1rem
			max-width 30rem
			
			span
				font-size 3.1rem
			
		.col-compartir

			p
				font-size 1.6rem
				
		.helado
			#black-home
				display block
				margin auto
				max-width 66.9%
			#pink-home
				max-width 62%
			

		.row-btn
			margin-bottom 3rem
			.col-sm-12
				width 80.7%
				
		.loader
			width 88%

				
	.page
		&-black, &-pink
			.helado
				bottom 22.4rem
				width 16rem

	
@media (min-width 1200px)
	.page-pink-black
		.loader
			width 93%
			
		.menu-dummie
			height 10.3rem
			
			& + .row
				margin-top 3rem
				padding-bottom 3.3%
			
			


@media (min-width 1280px)
	.page
		&-black, &-pink
			.helado
				bottom initial
				top -18.9rem
				width 23rem		

				.img-responsive
					width 100%
					
		&-black
			.helado
				width 28.5rem
				
					
		&-pink
			.helado
				width 26.4rem

	.page-pink-black
		.loader
			width 85%
			
		.row-btn
			.col-sm-12
				width 75.5%

@media (min-width 1600px)
	.page-pink-black
		.menu-dummie
			height 12rem


	
		
