@media (max-width 1230px)
	.container
		&-sedentarismo
			.row
				background-size 100%
			
	.header
		.text-slice
			overflow hidden
			width 66rem
			
	.paso
		height 0
		padding-bottom 73.8%
		width 100%
		
		svg
			cuadrado(9rem)


@media (max-width 1120px)
	.container
		&-sedentarismo
			background-size 170%
			
			.row
				padding 10% 2rem
				
	.paso
		padding 3.5rem
		padding-bottom 77.7%
		
		svg
			cuadrado(8rem)


@media (max-width 945px)
	header
		background-position 37% 100%
		background-size cover
		.menu
			float right

@media (max-width 900px)
	.container
		&-sedentarismo
			
			.row
				font-size 1.7rem
				padding 10% 7rem

	.paso
		padding-bottom 74.5%
		
		svg
			cuadrado(7rem)

@media (max-width 860px)
	.paso
		svg
			cuadrado(6rem)

@media (max-width 800px)
	header
		background-size 230%

@media (max-width 768px)
	.header
		.text-slice
			padding 25% 0 45%
			
		&-home
			height auto
			
	.paso
		margin 0 auto
		padding-bottom 39.8%
		max-width 58%
			

	.video-grid
		.container-video
			padding-bottom (100%/4)
			width @padding-bottom

@media (max-width 690px)
	header
		background-position 32% 0
		background-size 250%

	.container
		&-sedentarismo
			background-size 140%
			padding-top 9%

			.row
				background none
				font-size 1.7rem
				padding 4% 6.7rem
				

@media (max-width 660px)

	.container
		&-sedentarismo
			.row
				padding 4% 0.7rem
				
	.paso
		padding 2.6rem
		padding-bottom 42.8%
		
	



@media (max-width 620px)
	header
		background-size 380%
		height 15rem
		
	.header
		h1
			font-size 3rem
			
			strong
				font-size 4rem
				

		.slice
		
			&-l
				transform skewX(-45deg) translate3d(-43.8%, -2%, 0)
				

			&-r
				transform skewX(-45deg) translate3d(56.2%, 2%, 0)

		
	

@media (max-width 580px)
	header
		.col-xs-7
			width 75%
			
		.col-xs-offset-2
			margin-left 0
			
	.container
		&-sedentarismo
			.row
				font-size 1.4rem
				padding 4% 0
			
	.paso
		svg
			cuadrado(5rem)

	.video-grid
		.container-video
			padding-bottom (100%/2)
			width @padding-bottom
@media (max-width 530px)
	.paso
		svg
			cuadrado(4rem)


@media (max-width 500px)
	header
		background-position 30% 0
		background-size 580%
		
		.menu
			float none
			ul
				width 100%
				li
					width 31%
					
					a
						font-size 1.2rem
						padding 0.5rem
	.header
		h1
			font-size 2.5rem
			
			strong
				font-size 3rem

		.text-slice
			padding 30% 0 51%
			
	.paso
		padding 2.4rem
		padding-bottom 42.8%
		width 60%

@media (max-width 460px)
	.container
		&-sedentarismo
			background-size 160%
			
	.paso
		padding-bottom 42%
		
		svg
			cuadrado(3.5rem)


@media (max-width 430px)
	header
		.menu
			ul
				li
					max-width 49%
					width 48%
					
					&:last-child
						display none
						
	.container
		&-sedentarismo
			background-size 200%
			padding-bottom 17%
			
	.paso
		padding 1.8rem
		padding-bottom 42.2%
		
	.row-pasos
		p
			font-size 1.3rem
			
	.video-grid
		.container-video
			padding-bottom 100%
			width @padding-bottom

@media (max-width 400px)
	.container
		&-sedentarismo
			background-size 230%
			padding-bottom 20%
			
	.header
		h1
			font-size 2rem
			
			strong
				font-size 2.5rem
				
	.paso
		
		svg
			cuadrado(3rem)
			
@media (max-width 350px)
	.container
		&-sedentarismo
			background-size 260%
			padding-bottom 30%
			

	.paso
		max-width 100%
		padding 3.2rem
		padding-bottom 64.9%
		width 100%
	
	.row-pasos
		margin-top -5rem
		
		p
			font-size 1rem
