.table-select-grid
	background-color white
	box-shadow 0px 0px 5px 0px rgba(0, 0, 0, .75)
	display none
	max-width 20rem
	opacity 0
	overflow hidden
	padding 0.5rem
	position absolute 
	right 32% 
	top 60%
	transitionBase(0.3s)
	z-index 15
	
	td
		border 1px dotted #ccc
		cuadrado(12.9rem)
		transitionBase(0.3s)
		position relative
		
		// &:hover
		
		// 	&::after
		// 		background-color $Azul
		// 		content ""
		// 		height 100%
		// 		left 0
		// 		position absolute
		// 		top 0
		// 		width 100%
		// 		z-index 0
			
		
	.table
		margin 0
		
.td-hover
	background-color $Azul
	
	&::after
		background-color $Azul
		content ""
		height 100%
		left 0
		position absolute
		top 0
		width 100%
		z-index 0