$Azul      = #1372ce
$Gris      = #363636
$Morado    = #2d1d5a
$Verde     = #34e3e9


//Fonts
$FontStack = 'Poppins', Arial, sans-serif
$Icons     = 'Glyphicons Halflings'

//Font weights
$Bold      = 700
$Light     = 300
$Normal    = 400


//Site grid spacing and width
$Gutter    = 0.5rem
$SiteWidth = 124rem
