extends partials/base.jade

block title
	-var titulo = "Home";
	title #JugadorRexona

block content
	section.container-fluid
		article.row
			
			div.col-lg-10.col-md-10.col-sm-10.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
				h1.copy-ppal #JugadorRexona

				h2.
					<strong>Mientras más te mueve vel fútbol</strong>
					Rexona más te protege.

				img.img-responsive.motion(src="images/motion-sense.png", alt="Rexona Motion Sense", title="Rexona Motion Sense")

				
				div.row
					//Pasos
					div.col-lg-7.col-md-7.col-sm-7.col-xs-12
						ol.pasos
							li.
								<span></span>
								Entra a 
								<strong>Twitter</strong>
							li.
								<span></span>
								Cuéntanos quién es el
								<strong>#JugadorRexona</strong>
							li.
								<span></span>
								Participa por un
								<strong>viaje a Madrid</strong>

						a.btn.btn-conoce(href="#", role="button") conoce más aquí

						a.center-block(href="#")
							small Términos y condiciones del concurso.

					///-Pasos

					form#registro.col-lg-4.col-md-4.col-sm-5.col-xs-12.col-lg-offset-1.col-md-offset-1(method="")

						h3.
							Rexona trae a Colombia a <strong>Fútbol Tota</strong>l. El 10, 11, 12 de Mayo de 2016 en Corferias.

						img.img-responsive(src="images/futbol-total.jpg", alt="Fútbol Total", title="Fútbol Total")

						//Nombre
						div.form-group
							//- label(for="nombre") Nombre Completo
							input.form-control(type="text", id="nombre", name="nombre", placeholder="Nombre Completo")
						///-Nombre

						//Email
						div.form-group
							//- label(for="email") Correo Electrónico
							input.form-control(type="text", id="email", name="email", placeholder="Correo Electrónico")
						///-Email

						//Fecha
						div.form-group
							select.form-control(id="fecha", name="fecha")
								option(value="") Día que quieres asistir
								option(value="10") 10 de mayo
								option(value="11") 11 de mayo
								option(value="12") 12 de mayo
						///-Fecha

						div.checkbox
							input(type="checkbox" name="terminos" id="terminos")
							label(for="terminos").
								Acepto <a href="#">términos y condiciones</a>


						button.btn.btn-submit(type="submit") Enviar

	
block Scripts