extends partials/base.jade

block title
	-var titulo = "Home";
	title Copa Rexona

block content
	section.container-fluid.banner-home
		article.row
			//Logo Home
			div.col-lg-4.col-md-4.col-sm-6.col-xs-12.col-lg-offset-1.col-md-offset-1
				img.logo-home.img-responsive(src="images/logo-copa-rexona.png", alt="Copa Rexona", title="Copa Rexona")
			///-Logo Home

			div.col-lg-5.col-md-5.col-sm-6.col-xs-12.col-lg-offset-1.col-md-offset-1
				
				h1.tit disfruta lo mejor del torneo universitario más importante del país

				p.descripcion-sitio Encuentra el calendario jornada tras jornada, las imágenes, tabla de posiciones, goleadores y todo lo que se vive desde las canchas.

			div.clearfix

	section.container-fluid.no-border
		div.row
			//Calendario
			article.col-lg-4.col-md-4.col-sm-4.col-xs-12.cal
				a.btn(role="button", href="calendario.html") Calendario
			///-Calendario		

			//Posiciones
			article.col-lg-4.col-md-4.col-sm-4.col-xs-12.cal
				a.btn(role="button", href="posiciones.html") Posiciones
			///-Posiciones

			//Goleadores
			article.col-lg-4.col-md-4.col-sm-4.col-xs-12.cal
				a.btn(role="button", href="goleadores.html") Goleadores
			///-Goleadores

			//Premios
			article.col-lg-4.col-md-4.col-sm-4.col-xs-12.cal
				a.btn(role="button", href="premios.html") Premios
			///-Premios

	section.container-fluid.selector-galerias
		div.row
			article.col-lg-4.col-md-4.col-sm-4.col-xs-12.col-lg-offset-1.col-md-offset-1.galeria
				a(href="galeria.html#galeria") Galería

			article.col-lg-4.col-md-4.col-sm-4.col-xs-12.col-lg-offset-1.col-md-offset-1.tribuna
				a(href="galeria.html#tribuna") Desde la tribuna
		
block Scripts