//Menu
nav.col-lg-10.col-md-10.col-sm-10.col-xs-12.navbar

	//Button for mobile
	div.navbar-header
		button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
			span.icon-bar
			span.icon-bar
			span.icon-bar
	///-Button for mobile
	//Menu items
	ul.nav.navbar-nav
		li
			a(href="http://www.placermagnum.com/helados-magnum") Helados Magnum 

		li
			a(href="http://www.placermagnum.com/blog") Blog

		li
			a(href="http://www.placermagnum.com/galeria") Galería Magnum

		li.active
			a(href="#") Pink &amp; Black

	///-Menu items

///-Menu