.azul
	&-text
		color $Azul
		

.col
	&-menu
		padding 2rem 0.5rem 0
		position relative

.container
	&-cancha
		path('bg-cancha.jpg')
		background-repeat no-repeat
		background-position center top
		background-size cover
		padding-top 8rem
		

		h2
			margin 0 auto
			margin-top 0
			max-width 57rem
		
		h4
			color #fff
			margin 1rem auto
			max-width 57rem
			
				

	&-pasos
		path("bg-pasos.jpg")
		background-repeat no-repeat
		background-position center top
		box-shadow 0px 0px 20px 10px rgba(0, 0, 0, .75)
		position relative
		z-index 1
		
		small.center-block
			color $Azul

.row
	margin 0 auto
	max-width 124rem
	position relative
	

	for x in (1..12)
	
		.col-lg-{x}, .col-md-{x}, .col-sm-{x}, .col-xs-{x}
			padding-left 5px
			padding-right @padding-left
			transitionBase(0.3s)