@media (max-width: 1140px)
	.copy-ppal
		font-size 5rem
		
	.pasos 
		li
			font-size 1.3rem
		
			strong
				font-size 1.6rem
				


@media (max-width: 1100px)

	header
		.menu
		
			&-ppal, &-content
				li 
					a 
						font-size 1.5rem

@media (max-width: 1030px)
	.copy-ppal
		background-size 5.8rem
		
	.pasos
		li
			font-size 1.3rem
			
			span
				background-size 300%
				cuadrado(12rem)
			strong
				font-size 1.5rem
				

@media (max-width: 900px)
	header
		.menu
		
			&-ppal, &-content
				li 
					a 
						font-size 1.3rem
						
	.actividad
		margin-bottom 4rem
		

	.azul-text
		text-align center

	.copy-ppal
		background-size 4.8rem
		font-size 3.5rem
		
	.pasos
		li
			font-size 1.1rem
			
			span
				background-size 300%
				cuadrado(10rem)
			strong
				font-size 1.4rem
	
@media (max-width: 860px)
	.cancha
		background-size 100%

@media (max-width: 810px)
	header
		.menu
		
			&-ppal, &-content
				li 
					a 
						font-size 1.2rem
						
	.team
		&-local, &-visitante
			transform scale(0.9)
			


@media (max-width: 770px)

	header
		.menu
		
			&-ppal, &-content
				li 
					a 
						font-size 1.2rem
	
	.cancha
		path('cancha-mobile.jpg')
		background-size 100%
		height inherit
		margin-bottom 3rem
		padding-bottom 11rem
		text-align center
		
		.usuario
			display inline-block
			margin 2rem
			position initial
			vertical-align middle
			width 19rem
			
			span
				font-size 1.5rem
				max-width 100%

	.container
		&-cancha
			padding-top 3rem
		&-pasos
			background-size cover
	
	.copy-ppal
		background-size 4rem
		font-size 4.5rem
		padding-left 4.2rem
		
	.motion
		margin-bottom 2.6rem

	.pasos
		margin-top 8rem
		
	.team
		&-local, &-visitante
			padding-top 3rem
			transform none

@media (min-width: 768px)
	.navbar-collapse.collapse
		display inline-block !important
@media (max-width: 767px)
	header
		#menu
			background-color #f3f4f4
			position absolute
			bottom 0
			height 16.7rem
			left -23%
			right 0
			top 143%
			width 125.5%
			

		.collapse.in
			display block !important
			
		.menu
		
			&-ppal, &-content
				li 
					a 
						font-size 1.6rem
						
			&-content
				display block 
				li
					display block
					border-bottom 1px solid darken( #f3f4f4, 40%)
					
					&:last-child
						border-bottom none
					a
						display block
						font-size 1.2rem
						padding 0.8rem 1rem
				.teens
					border-right none 
					padding 0
					
						
		.navbar-collapse.collapse
			display none
				
		.navbar-header
			display inline-block 

@media (max-width: 750px)
	.cancha
		.usuario
			width 25%


@media (max-width: 700px)
	.cancha
		padding-bottom 4.3rem
		
		.usuario
			span
				font-size 1.4rem
				
	.team
		&-local, &-visitante
			padding-top 0


@media (max-width: 650px)

	.container-cancha
		h2
			font-size 2.6rem

	.motion
		margin-bottom 13rem
		
	.tabla
		.usuario
			width 47%
		

@media (max-width: 630px)
	.cancha
		.usuario
			margin 1.6rem
			
			span
				font-size 1.2rem
	

@media (max-width: 580px)
	.cancha
		padding-bottom 1.8rem

@media (max-width: 560px)
	.cancha
		padding-bottom 2.4rem
		
		.usuario
			margin 1.2rem

	.container-pasos
		.col-xs-2
			display none
		.col-xs-10
			margin-bottom 6rem
			width 100%
			
	.pasos
		li 
			width 32%
			

@media (max-width: 540px)
	.cancha
		margin-top 3rem
		padding-bottom 4.8rem
		
		.usuario
			margin 0.8rem
			width 28%

@media (max-width: 520px)
	.team
		font-size 1.4rem
		width 45%

@media (max-width: 480px)
	.cancha
		background-size 220%
		border-bottom 6px solid #fff
		border-left @border-bottom
		border-right @border-bottom
		border-top 6px solid transparent
		border-radius 22px
		
		.usuario
			margin 1rem
			width 42%
			
			span
				font-size 1.5rem


@media (max-width: 460px)
	.copy-ppal
		background-size 3rem
		font-size 3.5rem
		padding-left 3.2rem
		
	.tabla
		.usuario
			width 45%
			span
				border-radius 0 0 10px 10px
				display block
				margin -1.5rem auto 0
				max-width 100%
				position relative
				width 100%
				z-index 3
				
			.img-avatar
				z-index 1

@media (max-width: 440px)
	.pasos
		margin-top 2rem
		text-align center
		width 100%
		li
			// display block
			font-size 1.3rem
			margin-bottom 2rem
			margin-top @margin-bottom
			width 45%
			
			span
				margin-left 3rem

			strong
				font-size 1.6rem
				
@media (max-width: 420px)
	.cancha
		background-size 250%
		
	.team
		&-local, &-visitante
			padding-top 3rem

@media (max-width: 410px)
	.cancha
		.usuario
			span
				font-size 1.3rem
	
	.team
		font-size 1.3rem
		width 47%


@media (max-width: 390px)
	.cancha
		background-size cover
		
		.usuario
			margin 0.5rem
			width 100%
			
			span, .img-avatar
				display inline-block
				vertical-align middle
				
			span
				margin-left -1.5rem
				margin-top 0
				padding-left 2rem
			
			.img-avatar
				z-index 3

	.copy-ppal
		background-size 2.5rem
		font-size 3rem
		padding-left 2.2rem
		
	.pasos
		li
			font-size 1.1rem
			span
				margin-left 1.8rem
			
			strong
				font-size 1.4rem
	
	.tabla
		.usuario
			width 100%
			span
				display inline-block
				margin-left -1.5rem
				margin-top 0
				padding-left 2rem
				z-index 1
				width 50%
				
			.img-avatar
				z-index 3

	.team
		font-size 1.5rem
			
		&-tlocal
			margin-right 1.2rem
			padding 1.3rem 0 0 6rem
			
		&-tvisitante
			padding 1.3rem 4rem 0 0.7rem


@media (max-width: 340px)
	.pasos
		li
			margin-bottom 1rem
			margin-top @margin-bottom
			width 49%
			span
				margin-left 1.2rem
				

	.tabla
		.usuario
			span
				width 60%
