.page-magnum-pink-black
	footer
		background-color $Purpura
		bottom 0
		color #fff
		font-size 2rem
		margin-top 5rem
		padding 2rem 1rem
		text-transform uppercase
		width 100%
		
		p
			font-size 1.8rem
			margin 0
			padding 1rem 0
			vertical-align middle
			span
				display inline-block
				margin-right 1rem
				vertical-align middle
				
				
		.icon
			display inline-block
			border 1px solid
			cuadrado(4.6rem)
			margin 0 0.5rem
			text-align center
			vertical-align middle
			padding 0.5rem
			
			&:hover
				text-decoration none

			img
				height auto
				max-width 90%
				


			&-fb
				background-color $Facebook
				
				&:hover
					background-color darken(@background-color, 20%)
				
			&-tw
				background-color $Twitter
				
				&:hover
					background-color darken(@background-color, 20%)
				

		.pull-right
			text-align right
			p
				padding 0