@media (max-width: 1370px)
	.page-magnum-pink-black
		.menu-dummie
			height 6.5rem
			width 100%
	

@media (max-width: 1100px)
	.page-magnum-pink-black
		background-size 120%
		
		.menu-dummie
			height 3rem
		

@media (max-width: 990px)
	.page-magnum-pink-black
		background-size 158%
		
		.menu-dummie
			height 8rem

@media (max-width: 910px)
	.page-magnum-pink-black
		background-size 140%

		h1.text-center
			font-size calc(1.5vw + 1.5vh + .25vmin)
			font-size -webkit-calc(1.5vw + 1.5vh + .25vmin)
			font-size -moz-calc(1.5vw + 1.5vh + .25vmin)
			font-size -o-calc(1.5vw + 1.5vh + .25vmin)
			font-size -ms-calc(1.5vw + 1.5vh + .25vmin)
			

		.btn
			font-size calc(1vw + 1vh + .25vmin)
			font-size -webkit-calc(1vw + 1vh + .25vmin)
			font-size -moz-calc(1vw + 1vh + .25vmin)
			font-size -o-calc(1vw + 1vh + .25vmin)
			font-size -ms-calc(1vw + 1vh + .25vmin)
			padding 0.5rem
			max-width 20rem
			
		.percentage
			font-size 2rem
			

@media (max-width: 768px)
	.page-magnum-pink-black
		background-size 230%
			

		h1.text-center
			margin 2rem auto
			
		.menu-dummie
			height 11.6rem

		.helado
			margin 2rem auto

		.percentage
			bottom 0
			font-size 3rem
			left 50%
			margin auto
			position absolute
			right 0
			text-shadow 0px 0px 1px rgba(255, 255, 255, .75),
			0px 0px 1px rgba(255, 255, 255, .75),
			0px 0px 1px rgba(255, 255, 255, .75),
			0px 0px 1px rgba(255, 255, 255, .75),
			0px 0px 1px rgba(255, 255, 255, .75),
			0px 0px 1px rgba(255, 255, 255, .75)
			top 50%
			transform translate3d(-50%, -50%, 0)

		

		.side
			// margin-top 5rem
			
			svg
				height auto
				width 53%
			
			&-black
				padding-left 11rem !important
			&-pink
				padding-right 11rem !important
		
@media (max-width: 730px)
	.page-magnum-pink-black
		background-size 210%

		h1
			margin 1rem auto
		

@media (max-width: 640px)
	.page-magnum-pink-black
		background-size 230%

		.menu-dummie
			height 10rem
			width 100%
			

		footer
			
			.row
				direction ltr
				transform rotate(-180deg)
				
				div
					direction ltr
					text-align center
					transform rotate(180deg)
					width 100%
						
			
			
		.btn
			font-size 2rem
			line-height 1.9rem
			max-width 11rem
			white-space normal
			
		.side
			cursor pointer
			a
				cursor default
				pointer-events none
			
			svg
				width 70%

			

@media (max-width: 550px)
	.page-magnum-pink-black
		background-size 230%
			
		// .menu-dummie
		// 	height 15rem
		// 	width 100%
		
		.side
			h2
				font-size 3rem
				width 100%
			
			svg
				margin-left -0.5rem
				width 80%

@media (max-width: 460px)
	.page-magnum-pink-black
		.side
			h2
				font-size 2.5rem
				
			svg
				width 90%
					
@media (max-width: 440px)

	.page-magnum-pink-black

		// .menu-dummie
		// 	height 12.2rem
		
		h1.text-center
			font-size calc(1.7vw + 1.7vh + .25vmin)
			font-size -webkit-calc(1.7vw + 1.7vh + .25vmin)
			font-size -moz-calc(1.7vw + 1.7vh + .25vmin)
			font-size -o-calc(1.7vw + 1.7vh + .25vmin)
			font-size -ms-calc(1.7vw + 1.7vh + .25vmin)
			max-width 30rem
			

		.btn
			border-width 0.25rem
			font-size 1.6rem
			line-height 1.5rem
			max-width 100%

		.side
			h2
				font-size 2rem
				
			svg
				width 90%
			

@media (max-width: 420px)
	.page-magnum-pink-black
		background-size 340%
		footer
			p 
				span
					display block
					
		.btn
			font-size calc(1.5vw + 1.5vh + .25vmin)
			font-size -webkit-calc(1.5vw + 1.5vh + .25vmin)
			font-size -moz-calc(1.5vw + 1.5vh + .25vmin)
			font-size -o-calc(1.5vw + 1.5vh + .25vmin)
			font-size -ms-calc(1vw + 1vh + .25vmin)
			line-height  calc(1.4vw + 1.4vh)
			line-height  -webkit-calc(1.4vw + 1.4vh)
			line-height  -moz-calc(1.4vw + 1.4vh)
			line-height  -o-calc(1.4vw + 1.4vh)
			line-height  -ms-calc(1.4vw + 1.4vh)
						
		.side
			h2, svg
				width 100% 

			&-black
				padding-left 9rem !important
			&-pink
				padding-right 9rem !important
			

@media (max-width: 400px)
	.page-magnum-pink-black

		// .menu-dummie
		// 	height 10.2rem
		

@media (max-width: 360px)
	.page-magnum-pink-black
		// .menu-dummie
		// 	height 9.9rem

		.side
			&-black
				padding-left 8.5rem !important
			&-pink
				padding-right 8.5rem !important
			

@media (max-width: 340px)
	.page-magnum-pink-black
		// .menu-dummie
		// 	height 9.5rem
			
		.side
			&-black
				padding-left 6.5rem !important
			&-pink
				padding-right 6.5rem !important
			

@media (max-width: 320px)
	.page-magnum-pink-black
		// .menu-dummie
		// 	height 6.8rem


@media (min-height: 720px) and (orientation:portrait)
	.page-magnum-pink-black
		footer
			position absolute
			bottom 0
		
@media (min-height: 770px) and (min-width 1370px)
	.page-magnum-pink-black
		footer
			position absolute
			bottom 0
		
@media (min-width 1600px)
	.page-magnum-pink-black
		.menu-dummie
			height 10rem
		.side
			
			svg
				height auto
				width 20%
	
		
