extends partials/base.jade

block title
	-var titulo = "Calendario";
	title Calendario Copa Rexona

block content
	section.container-fluid.banner-interna
		article.row
			//Logo
			div.col-lg-3.col-md-3.col-sm-6.col-xs-6.col-lg-offset-2.col-md-offset-2
				a(href="index.html"): img.logo.img-responsive(src="images/logo-copa-rexona.png", alt="Copa Rexona", title="Copa Rexona")
			///-Logo

			div.col-lg-3.col-md-3.col-sm-6.col-xs-6.col-lg-offset-1.col-md-offset-1
				
				h1.tit Calendario de partidos


			div.clearfix

		div#sparks.container-spark

	section.container-fluid
		h2.descripcion.
			Encuentra la programación de tu equipo para que no te pierdas ni un instante de la <strong>#CopaRexona</strong>
		
		article.row
			div.text-center
				button.btn.btn-switch Masculino
				button.btn.btn-switch Femenino

			button.btn.btn-acordeon Managua

			div.panel
				div.col-lg-8.col-md-8.col-sm-8.col-xs-12.col-lg-offset-2.col-md-offset-2.col-sm-offset-2
					div.jornada
						h3 Fecha 1
						div.derecha
							p.dia martes
							time.fecha 18 de junio
					-for(a = 1; a < 3; a++)
						div.table-responsive.grupos
							h3.titulo-tabla Grupo #{a}
							table.table

								-for(x = 0; x < 4; x++)
									tr
										td.
											Equipo 1 <span class="marcador">2</span> <span>vs</span> <span class="marcador">8</span>  Equipo 2 
											
										td.lugar Universidad del Norte 9:00 AM
		
block Scripts
	sci