extends partials/base.jade

block title
	-var titulo = "Galeria";
	title Galería Copa Rexona

block content
	section.container-fluid.banner-interna
		article.row
			//Logo
			div.col-lg-3.col-md-3.col-sm-6.col-xs-12.col-lg-offset-2.col-md-offset-2
				a(href="index.html"): img.logo.img-responsive(src="images/logo-copa-rexona.png", alt="Copa Rexona", title="Copa Rexona")
			///-Logo

			div.col-lg-3.col-md-3.col-sm-6.col-xs-12.col-lg-offset-1.col-md-offset-1
							
				h1.tit Galería de Imágenes

			div.clearfix
		
	section.container-fluid.selector-galerias.selector-interna
		div.row.text-center
			article.col-lg-2.col-md-2.col-sm-2.col-xs-12.col-lg-offset-4.col-md-offset-4-col-sm-offset-4.galeria.active
				a(href="galeria.html#galeria") Galería

			article.col-lg-2.col-md-2.col-sm-2.col-xs-12.tribuna
				a(href="galeria.html#tribuna") Desde la tribuna

	section.container-fluid.no-border
		h2.descripcion.
				Encuentra lo que se vive dentro y fuera de la cancha. Utiliza  <strong>#CopaRexona</strong> en tus fotos de Instagram y Twitter para mostrar como vives este torneo.
		div.row.galeria		
			-for(x = 1; x <= 6; x++)
				figure.col-lg-4.col-md-4.col-sm-4.col-xs-4
					a.glyphicon.glyphicon-picture(href="#")
					img(src="images/galeria/sample-galeria-"+x+".jpg", alt="Alt Imagen")
				figure.col-lg-4.col-md-4.col-sm-4.col-xs-4
					a.glyphicon.glyphicon-picture(href="#")
					img(src="images/galeria/sample-galeria-"+x+".jpg", alt="Alt Imagen")
				figure.col-lg-4.col-md-4.col-sm-4.col-xs-4
					a.glyphicon.glyphicon-picture(href="#")
					img(src="images/galeria/sample-galeria-"+x+".jpg", alt="Alt Imagen")
		
block Scripts