extends partials/base.jade

block title
	-var titulo = "Goleadores";
	title Goleadores Copa Rexona

block content
	section.container-fluid.banner-interna
		article.row
			//Logo Home
			div.col-lg-3.col-md-3.col-sm-6.col-xs-12.col-lg-offset-2.col-md-offset-2
				img.logo.img-responsive(src="images/logo-copa-rexona.png", alt="Copa Rexona", title="Copa Rexona")
			///-Logo Home

			div.col-lg-3.col-md-3.col-sm-6.col-xs-12.col-lg-offset-1.col-md-offset-1
				
				h1.tit Goleadores

			div.clearfix

	section.container-fluid
		h2.descripcion.
			Conoce quién es el <strong>#JugadorRexona</strong> del torneo; ese que anota más y hacer que los aficionados se muevan más con cada jugada.
		
		article.row
			div.jornada
				h3 Fecha 1 
				p.dia martes 
				time.fecha 18 de junio 
				div.col-lg-8.col-md-8.col-sm-8.col-xs-12.col-lg-offset-2.col-md-offset-2.col-sm-offset-2
					div.table-responsive.jugadores
						table.table

							tr
								th Nombre
								th Equipo
								th Goles
						
							-for(x = 0; x < 10; x++)
								tr
									td #{x} Jesucristo Hitler Paracelso Zeppelin
									td Universidad del Norte
									td #{x}
			
block Scripts