extends partials/base.jade

block title
	-var titulo = "Terminos";
	title Términos y Condiciones Copa Rexona

block content
	section.container-fluid.banner-interna
		article.row
			//Logo Home
			div.col-lg-3.col-md-3.col-sm-6.col-xs-12.col-lg-offset-2.col-md-offset-2
				a(href="index.html"): img.logo.img-responsive(src="images/logo-copa-rexona.png", alt="Copa Rexona", title="Copa Rexona")
			///-Logo Home

			div.col-lg-3.col-md-3.col-sm-6.col-xs-12.col-lg-offset-1.col-md-offset-1
				
				h1.tit Términos y Condiciones


			div.clearfix

	section.container-fluid

		article.row

			div.col-lg-8.col-md-8.col-sm-8.col-xs-12.col-lg-offset-2.col-md-offset-2.col-sm-offset-2



		
block Scripts